<section class="board-container">
	@defer {
		@if (!boardSelected()) {
			<div class="flex justify-items-center">
				<h2 class="font-semibold text-xl">Board is not selected yet</h2>
			</div>
		} @else if (!tasksList()?.length) {
			<div class="flex justify-items-center">
				<h2 class="font-semibold text-xl">There are not task added</h2>
			</div>
		} @else {
			<div class="grid grid-cols-3 gap-4" cdkDropListGroup>
				<div
					class="kanban-column col-span-1"
					id="ToDo"
					cdkDropList
					#todoList="cdkDropList"
					[cdkDropListData]="getTasks('ToDo')"
					[cdkDropListConnectedTo]="[doingList, doneList]"
					(cdkDropListDropped)="drop($event)"
				>
					<kanban-column
						[columnType]="'ToDo'"
						[tasks]="getTasks('ToDo')"
					/>
				</div>
				<div
					class="kanban-column col-span-1"
					id="Doing"
					cdkDropList
					#doingList="cdkDropList"
					[cdkDropListData]="getTasks('Doing')"
					[cdkDropListConnectedTo]="[todoList, doneList]"
					(cdkDropListDropped)="drop($event)"
				>
					<kanban-column
						[columnType]="'Doing'"
						[tasks]="getTasks('Doing')"
					/>
				</div>
				<div
					class="kanban-column col-span-1"
					id="Done"
					cdkDropList
					#doneList="cdkDropList"
					[cdkDropListData]="getTasks('Done')"
					[cdkDropListConnectedTo]="[todoList, doingList]"
					(cdkDropListDropped)="drop($event)"
				>
					<kanban-column
						[columnType]="'Done'"
						[tasks]="getTasks('Done')"
					/>
				</div>
			</div>
		}
	} @loading (after 100ms; minimum 1s) {
		<div class="flex justify-items-center">
			<p-progress-spinner
				strokeWidth="6"
				ariaLabel="loading"
				[style]="{width: '70px', height: '70px'}"
			/>
		</div>
	}
</section>
