.dashboard-container {
	height: 100vh;
	position: relative;
}

mat-drawer {
	max-width: fit-content;
}

.sidebar-options {
	height: 85vh;
	overflow-y: auto;
}

.drawer-close-button {
	margin-top: 15px;
}
