<mat-drawer-container class="dashboard-container" autosize>
	<mat-drawer #drawer mode="over">
		<mat-nav-list class="sidebar-options">
			@if (isLoading$ | async) {
				<div class="row justify-items-center">
					<mat-spinner class="col" [diameter]="30" />
				</div>
			} @else {
				@for (board of boards$ | async; track board.id) {
					<mat-list-item class="add-board-item">
						<span
							(keyup)="loadTasksByBoard(board)"
							matListItemTitle
							aria-hidden="true"
						>
							{{ board.title }}
						</span>
						<button
							mat-button
							[matMenuTriggerFor]="menu"
							[matMenuTriggerData]="board"
							matListItemMeta
						>
							<mat-icon>more_vert</mat-icon>
						</button>
					</mat-list-item>
				} @empty {
					<span> There are no boards created.</span>
				}
			}

			<mat-list-item class="add-board-item">
				<button
					mat-raised-button
					(click)="showNewBoardDialog()"
				>
					<mat-icon>add</mat-icon> Add board
				</button>
			</mat-list-item>
		</mat-nav-list>

		<theme-switcher (switcherToggled)="drawer.close()" />
	</mat-drawer>

	<section class="main-container">
		<toolbar
			(openNav)="drawer.toggle()"
			(createTaskClicked)="openCreateTaskModal($event)"
		/>

		<div class="main-container">
			<kanban-board />
		</div>
	</section>

	<mat-menu #menu="matMenu">
		<ng-template
			matMenuContent
			let-id="id"
			let-title="title"
		>
			<button
				mat-menu-item
				(click)="editBoard({id, title})"
			>
				Edit
			</button>
			<button mat-menu-item (click)="deleteBoard(id)">
				Delete
			</button>
		</ng-template>
	</mat-menu>
</mat-drawer-container>
