<mat-drawer-container class="dashboard-container" autosize>
	<mat-drawer #drawer mode="over">
		<mat-nav-list class="sidebar-options">
			@for (board of boards$ | async; track board.id) {
			<mat-list-item
				class="add-board-item"
				(click)="loadTasksByBoard(board)"
			>
				<span matListItemTitle>
					{{ board.title }}
				</span>
				<button
					mat-button
					[matMenuTriggerFor]="menu"
					[matMenuTriggerData]="board"
					matListItemMeta
				>
					<mat-icon>more_vert</mat-icon>
				</button>
			</mat-list-item>
			} @empty {
			<span> There are no items.</span>
			}

			<mat-list-item class="add-board-item">
				<button
					mat-raised-button
					(click)="showNewBoardDialog()"
				>
					<mat-icon>add</mat-icon> Add board
				</button>
			</mat-list-item>
		</mat-nav-list>

		<theme-switcher (switcherToggled)="drawer.close()" />
	</mat-drawer>

	<section class="main-container">
		<toolbar
			(openNav)="drawer.toggle()"
			(createTaskClicked)="openCreateTaskModal($event)"
		/>

		<div class="main-container">
			<kanban-board />
		</div>

		<!-- <ng-template #routerOutlet>
			<router-outlet />
		</ng-template> -->
	</section>

	<mat-menu #menu="matMenu">
		<ng-template
			matMenuContent
			let-id="id"
			let-title="title"
		>
			<button
				mat-menu-item
				(click)="editBoard({id, title})"
			>
				Edit
			</button>
			<button mat-menu-item (click)="deleteBoard(id)">
				Delete
			</button>
		</ng-template>
	</mat-menu>
</mat-drawer-container>
