<mat-drawer-container class="dashboard-container" autosize>
	<mat-drawer #drawer mode="over">
		<mat-list class="sidebar-options">
			@for (board of boards; track board.id) {
			<mat-list-item>
				<p>{{ board.title }}</p>
			</mat-list-item>
			}

			<mat-list-item class="add-board-item">
				<button
					mat-raised-button
					(click)="showNewBoardDialog()"
				>
					<mat-icon>add</mat-icon> Add board
				</button>
			</mat-list-item>
		</mat-list>

		<theme-switcher (switcherToggled)="drawer.close()" />
	</mat-drawer>

	<section class="main-container">
		<toolbar (openNav)="drawer.toggle()" />

		<div class="main-container">
			<!-- <kanban-board /> -->
		</div>

		<!-- <ng-template #routerOutlet>
			<router-outlet />
		</ng-template> -->
	</section>
</mat-drawer-container>
