<section class="container-liquid">
	<!-- <div class="row">
		<div class="col">
			<h3 class="board-form-title">Add New Board</h3>
		</div>
	</div> -->

	<form [formGroup]="boardForm" class="row board-form">
		<mat-form-field class="col">
			<mat-label>Board title</mat-label>
			<input matInput formControlName="title" type="text" />
		</mat-form-field>

		<div class="col justify-self-end">
			@if (isLoading) {
			<mat-spinner class="col" [diameter]="30" />
			} @if(isEdit) {
			<custom-button
				[text]="'Save'"
				[colorButton]="'accent'"
				(clickEvent)="updateBoard()"
				class="col create-new-board-button"
			/>
			} @else {
			<custom-button
				[text]="'Save'"
				[colorButton]="'accent'"
				(clickEvent)="saveBoard()"
				class="col create-new-board-button"
			/>
			}
		</div>
	</form>
</section>
