<section class="container-liquid">
	<!-- <div class="row">
		<div class="col">
			<h3 class="board-form-title">Add New Board</h3>
		</div>
	</div> -->

	<form [formGroup]="boardForm" class="row board-form">
		<mat-form-field class="col">
			<mat-label>Board title</mat-label>
			<input matInput formControlName="title" type="text" />
		</mat-form-field>

		<div class="col justify-self-end">
			<custom-button
				[text]="'Save board'"
				[colorButton]="'accent'"
				(clickEvent)="saveBoard()"
				class="col create-new-board-button"
				[disabled]="isLoading"
			/>
		</div>
	</form>
</section>
