<section class="row task-details-container">
	<div class="col row">
		<h2 class="col-8">
			{{ (task$ | async)?.title }}
		</h2>
		<div class="col-4">
			<button mat-button (click)="editTask()">
				<mat-icon>edit</mat-icon>
			</button>
			<button
				mat-button
				[matMenuTriggerFor]="menu"
				[matMenuTriggerData]="task$ | async"
				class="task-menu-button"
			>
				<mat-icon>more_vert</mat-icon>
			</button>
		</div>
	</div>

	<div class="col">
		<p class="task-details-description">
			{{ (task$ | async)?.description }}
		</p>
	</div>

	<div class="col">
		@for(subtask of (task$ | async)?.subtasks; track subtask
		) {
		<subtasks-overview
			[subtask]="subtask"
			(subtaskUpdated)="subtaskUpdated($event)"
			[index]="$index"
		/>
		} @empty {
		<small>No subtasks</small>
		}
	</div>

	<div class="col row">
		<mat-form-field class="col">
			<mat-select [formControl]="statusSelected">
				@for(status of statusOptions$ | async; track status)
				{
				<mat-option [value]="status?.name">{{
					status?.name
				}}</mat-option>
				}
			</mat-select>
		</mat-form-field>
	</div>
</section>

<mat-menu #menu="matMenu">
	<ng-template matMenuContent>
		<button
			mat-menu-item
			(click)="deleteConfirmation(true)"
		>
			Delete
		</button>
	</ng-template>
</mat-menu>
