<section class="row task-details-container">
	@if (task()) {
		<div class="col row">
			<h2 class="col-8">
				{{ task().title }}
			</h2>
			<div class="flex justify-items-between">
				<button
					pButton
					severity="secondary"
					(click)="editTask()"
				>
					<i class="pi pi-pen-to-square"></i>
				</button>
				<button
					pButton
					severity="secondary"
					class="task-menu-button"
          (click)="menuTask.toggle($event)"
				>
					<i class="pi pi-ellipsis-v"></i>
				</button>
			</div>
		</div>

		<div class="col">
			<p class="task-details-description">
				{{ task().description }}
			</p>
		</div>

		<div class="col row subtasks-container">
			<div class="col-12">
				<h3>Subtasks</h3>
			</div>
			<div class="col-12">
				@if (isLoadingSubtasks()) {
					<div class="row justify-items-center">
						<p-progress-spinner
							strokeWidth="6"
							ariaLabel="loading"
							[style]="{width: '70px', height: '70px'}"
						/>
					</div>
				} @else {
					@for (subtask of subtasks(); track subtask) {
						<subtasks-overview
							[subtask]="subtask"
							(subtaskUpdated)="subtaskUpdated($event)"
							[index]="$index"
						/>
					}
				}
			</div>

			<div class="col-12">
				<ng-template #newSubtasks></ng-template>
			</div>

			<div class="col-12">
				<button mat-button (click)="addSubtask()">
					<i class="pi pi-plus"></i>
				</button>
			</div>
		</div>

		<div class="col row status-dropdown">
			<p-select
				[(ngModel)]="statusSelected"
				[options]="statusOptions()"
				optionLabel="name"
				placeholder="Select a Status"
			></p-select>
		</div>
	}
</section>

<p-menu #menuTask [model]="menuItems" [popup]="true"></p-menu>
