.task-details-container {
	padding: 15px;
}

:host(.dark-theme) .task-overview-container {
	color: white !important;
}

.task-menu-button {
	justify-self: flex-end;
}

.task-details-description {
	font-size: larger;
}

.status-dropdown {
	margin-top: 25px;
}

.subtasks-container {
	margin-top: 15px;
}
