<section class="p-4 w-full flex flex-col gap-4">
	<form
		class="flex flex-col gap-4 w-full"
		[formGroup]="taskForm"
	>
		<p-float-label variant="on">
			<label
				for="title"
				style="font-weight: normal"
				>Title</label
			>
			<input
				pInputText
				formControlName="title"
				type="text"
				id="title"
				autocomplete="off"
				class="w-full"
			/>
		</p-float-label>

		<p-float-label
			class="w-full"
			variant="on"
		>
			<label
				for="description"
				style="font-weight: normal"
				>Description</label
			>
			<textarea
				pInputText
				formControlName="description"
				type="text"
				id="description"
				autocomplete="off"
				class="w-full"
			></textarea>
		</p-float-label>

		<p-select
			class="w-full"
			formControlName="status"
			optionLabel="name"
			placeholder="Select status"
			[options]="statusOptions()"
			[virtualScroll]="true" [virtualScrollItemSize]="3"
		>
		</p-select>
	</form>

	<div class="flex justify-end">
		<custom-button
			class="create-task-button"
			[severity]="'primary'"
			[disabled]="!taskForm.valid"
			[text]="
				!taskSelected().id ? 'Create task' : 'Update Task'
			"
			(clickEvent)="createTask()"
			[loading]="isLoading()"
		></custom-button>
	</div>
</section>
