<section class="task-form-container">
	<h3 class="task-form-title">Task information</h3>

	@if((taskSelected$ | async)) {
	<form [formGroup]="taskForm" class="row">
		<mat-form-field class="col">
			<mat-label>Title</mat-label>
			<input matInput formControlName="title" type="text" />
		</mat-form-field>

		<mat-form-field class="col">
			<mat-label>Description</mat-label>
			<textarea
				matInput
				formControlName="description"
				type="text"
			></textarea>
		</mat-form-field>

		<div
			class="col row subtasks-container"
			formArrayName="subtasks"
		>
			<h3 class="col">Subtasks</h3>

			@for(subtask of subtasks.controls; track subtask) {
			<mat-form-field
				class="col-10"
				[formGroupName]="$index"
			>
				<input
					matInput
					formControlName="title"
					placeholder="Example"
					type="text"
					autocomplete="false"
				/>
			</mat-form-field>
			@if(subtasks.length > 0) {

			<div class="col-2">
				<custom-button
					(clickEvent)="removeSubtask($index)"
					[iconName]="'delete'"
					class="remove-subtask-button"
				></custom-button>
			</div>
			}
			<!-- <mat-form-field
          class="col-2"
          [formGroupName]="$index"
        >
          <mat-checkbox formControlName="isDone">
            Done
          </mat-checkbox>
        </mat-form-field> -->
			}

			<custom-button
				[text]="'Add new subtask'"
				(clickEvent)="addSubtask()"
				class="col add-subtasks-button"
				[colorButton]="'accent'"
			/>
		</div>

		<mat-form-field class="col">
			<mat-label>Status</mat-label>
			<mat-select formControlName="status">
				@for(status of statusOptions$ | async; track
				status.id) {
				<mat-option [value]="status.id">{{
					status.name
				}}</mat-option>
				}
			</mat-select>
		</mat-form-field>

		<custom-button
			[colorButton]="'accent'"
			[disabled]="!taskForm.valid"
			[text]="
				!(taskSelected$ | async)
					? 'Create task'
					: 'Update Task'
			"
			class="col create-task-button"
			(clickEvent)="createTask()"
		/>
	</form>
	} @else {
	<p>Loading...</p>
	}
</section>
