<section class="task-form-container">
	<h3 class="task-form-title">Task information</h3>

	@if (taskSelected()) {
		<form [formGroup]="taskForm" class="row">
			<label for="title">Title</label>
			<input
				pInputText
				formControlName="title"
				type="text"
				name="title"
			/>

			<label for="description">Description</label>
			<textarea
				pInputText
				formControlName="description"
				type="text"
        name="description"
			></textarea>

			<!-- Subtask is managemented In Task Details Component -->

			<label for="status">Status</label>
			<p-select name="status" formControlName="status" [options]="statusOptions()" optionLabel="status">
			</p-select>
		</form>

		@if (isLoading$ | async) {
			<div class="row justify-items-center"></div>
		} @else {
			<custom-button
				[severity]="'primary'"
				[disabled]="!taskForm.valid"
				[text]="
					!taskSelected()?.id
						? 'Create task'
						: 'Update Task'
				"
				class="col create-task-button"
				(clickEvent)="createTask()"
			></custom-button>
		}
	}
</section>
