<section>
	<form [formGroup]="boardForm" class="board-form">
		<label for="title">Board title</label>
		<input pInputText type="text" formControlName="title" id="title" class="w-full" />

		<div class="flex justify-self-end">

			<custom-button [disabled]="boardForm.invalid" [text]="isEdit() ? 'Update' : 'Save'" [severity]="'success'"
				(clickEvent)="isEdit() ? updateBoard() : saveBoard()" class="create-new-board-button mt-4"
				[loading]="isLoading()" />
		</div>
	</form>
</section>