<p-card class="cursor-pointer">
	@if (task(); as task) {
		<ng-template #title>
			<div class="flex justify-between">
				<p (click)="emitShowTaskDialog()">{{ task.title }}</p>
				<p-button
					severity="secondary"
					size="small"
					icon="pi pi-ellipsis-v"
					variant="text"
					(click)="menuOptions.toggle($event)"
				/>
			</div>
		</ng-template>

		@if (task.countDoneSubtasks) {
			<p (click)="emitShowTaskDialog()">
				Subtasks:
				{{ task.countDoneSubtasks }} completed of
				{{ task.totalSubtasks }}
			</p>
		}

		<p (click)="emitShowTaskDialog()">{{ task.description }}</p>

		<ng-template #footer>
			<!-- <div class="flex justify-end">
				<button pButton variant="text" severity="info" outlined="true" size="small" (click)="emitShowTaskDialog()">
					<i class="pi pi-info"></i>
				</button> -->
			<!-- <button pButton severity="danger" size="small" (click)="showDeleteConfirmationDialog()">
					<i class="pi pi-trash"></i>
				</button> -->
			<!-- </div> -->
		</ng-template>
	} @else {
		<p>Task invalid!</p>
	}
</p-card>

<p-toast />
<p-confirmdialog />
<p-menu
	#menuOptions
	[model]="menuItems"
	[popup]="true"
/>

