<section class="toolbar container">
	<p-toolbar      >
		<ng-template #start>
			<custom-button
				[severity]="'secondary'"
				(clickEvent)="openNav.emit()"
				iconName="menu"
			/>
		</ng-template>
		<ng-template #center>
			<h2>{{ subtitle$ | async }}</h2>
		</ng-template>

		<ng-template #end>
			<custom-button
				[text]="'Create task'"
				[severity]="'info'"
				(clickEvent)="openTaskFormModal()"
				iconName="add"
				[disabled]="
					(subtitle$ | async) === 'Dashboard Kanban'
				"
			/>
		</ng-template>
	</p-toolbar>
</section>
